@import "../variables";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;

  nav {
    display: flex;
    align-items: center;
    padding: .5 * $gap;
    height: 100%;
  }

  .nav {
    position: fixed;
    top: $header-height;
    right: 0;
    bottom: 0;
    background: $gray-2;

    &.opened {
      transform: translateX(0);
    }

    &.opened,
    &.closed {
      transition: transform $anim-time;
    }
  }
}

@media (max-width: $break-sm-max) {
  header .nav {
    width: 100%;
    transform: translateX(100%);
  }
}

@media (min-width: $break-sm-min) {
  header .nav {
    width: $header-width;
    transform: translateX($header-width);
  }
}