* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: $gray-2;
  color: $white;
  font-family: $font-body;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6,.title {
  font-family: $font-head;
}

p {
  margin: 0 0 $gap 0;
  line-height: 1.5rem;
}

a {
  cursor: pointer;
  
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $white;
    text-decoration: none;
  }
}

button {
  cursor: pointer;
  outline: none;
}