// Colors
$white:         #ffffff;
$gray-b:        #b5b5b5;
$gray-2:        #222222;
$black:         #000000;

$primary:       #1ead9d;

// Fonts
$font-head: 'MuseoModerno', cursive;
$font-body: 'Roboto', sans-serif;

// Sizes
$gap:             20px;
$radius:          5px;
$border:          2px;
$letter-spacing:  2px;

// Responsive breakpoints
$break-xs-max: 575px;
$break-sm-min: 576px;
$break-sm-max: 767px;
$break-md-min: 768px;
$break-md-max: 991px;
$break-lg-min: 992px;
$break-lg-max: 1199px;
$break-xl-min: 1200px;

$breakpoint-names:    'xs' 'sm' 'md' 'lg' 'xl';
$breakpoints-min: (
  xs: 0px ,
  sm: 576px, 
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$col-max-count:       12;

// Times
$anim-time:       .3s;